In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
from sklearn.preprocessing import Imputer              # handles Missing values
from sklearn.naive_bayes import GaussianNB             # Naive Bayes Model
from sklearn.model_selection import train_test_split   # For partitioning Dataset into Training and Test sets
from sklearn.model_selection import cross_val_score    # Cross Validation 
from sklearn import metrics                            # Accuracy
from sklearn import datasets

In [40]:
#pd.options.display.max_rows=1000
NB_model = GaussianNB()     # calling NB classifier

In [41]:
df1 =pd.read_csv('breast_cancer.csv',names=['Code_Number','Clump_Thickness','Uniformity_of_cell_size','Uniformity_of_cell_shape','Marginal_Adhesion','Single_Epithelial_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses','Class'])

df1

   #1. Sample code number            id number
   #2. Clump Thickness               1 - 10
   #3. Uniformity of Cell Size       1 - 10
   #4. Uniformity of Cell Shape      1 - 10
   #5. Marginal Adhesion             1 - 10
   #6. Single Epithelial Cell Size   1 - 10
   #7. Bare Nuclei                   1 - 10
   #8. Bland Chromatin               1 - 10
   #9. Normal Nucleoli               1 - 10
   #10. Mitoses                       1 - 10
   #11. Class:                        (2 for benign, 4 for malignant)

,Code_Number,Clump_Thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [42]:
# Notation ===>    X=independent variable(features)   y=dependent variable(class label)
X_train, X_test, y_train, y_test = train_test_split(df1[['Code_Number','Clump_Thickness','Uniformity_of_cell_size','Uniformity_of_cell_shape','Marginal_Adhesion','Single_Epithelial_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses']], df1['Class'], test_size=0.3)  # Training : 70%, Test: 30%
NB_model.fit(X_train , y_train)           # Training the model
y_predicted=NB_model.predict(X_test)

In [43]:
y_pred=(cross_val_score(NB_model,X_train,y_train,cv=10)) # prints scores of classifier for each run of the cross validation
print("** 10-fold cross validation using NB**")
for i in range(len(y_pred)):
    print('Accuracy in run ',(i+1)," :: " ,y_pred[i])
print("\n\nMean Accuracy==>\t",np.mean(y_pred))

** 10-fold cross validation using NB**
Accuracy in run  1  ::  0.8775510204081632
Accuracy in run  2  ::  0.8775510204081632
Accuracy in run  3  ::  0.9183673469387755
Accuracy in run  4  ::  0.8958333333333334
Accuracy in run  5  ::  0.8958333333333334
Accuracy in run  6  ::  0.9148936170212766
Accuracy in run  7  ::  0.8085106382978723
Accuracy in run  8  ::  0.7872340425531915
Accuracy in run  9  ::  0.6595744680851063
Accuracy in run  10  ::  0.9361702127659575


Mean Accuracy==>	 0.8571519033145172

** 10-fold cross validation using NB**
Accuracy in run  1  ::  0.875
Accuracy in run  2  ::  0.8958333333333334
Accuracy in run  3  ::  0.8333333333333334
Accuracy in run  4  ::  0.8541666666666666
Accuracy in run  5  ::  0.8333333333333334
Accuracy in run  6  ::  0.7916666666666666
Accuracy in run  7  ::  0.7708333333333334
Accuracy in run  8  ::  0.7916666666666666
Accuracy in run  9  ::  0.8333333333333334
Accuracy in run  10  ::  0.8478260869565217


Mean Accuracy==>	 0.8326992753623189