In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import Imputer              # handles Missing values
from sklearn.naive_bayes import GaussianNB             # Naive Bayes Model
from sklearn.model_selection import train_test_split   # For partitioning Dataset into Training and Test sets
from sklearn.model_selection import cross_val_score    # Cross Validation 
from sklearn import metrics                            # Accuracy
from sklearn import datasets

In [2]:
NB_model = GaussianNB()     # calling NB classifier

In [6]:
df1=pd.read_csv('dermatology.csv',names=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16','A17','A18','A19','A20','A21','A22','A23','A24','A25','A26','A27','A28','A29','A30','A31','A32','A33','A34','Class'])
#Attribute Information:
    #-- Complete attribute documentation:
     # Clinical Attributes: (take values 0, 1, 2, 3, unless otherwise indicated)
      #1: erythema
      #2: scaling
      #3: definite borders
      #4: itching
      #5: koebner phenomenon
      #6: polygonal papules
      #7: follicular papules
      #8: oral mucosal involvement
      #9: knee and elbow involvement
     #10: scalp involvement
     #11: family history, (0 or 1)
     #34: Age (linear)

     #Histopathological Attributes: (take values 0, 1, 2, 3)
     #12: melanin incontinence
     #13: eosinophils in the infiltrate
     #14: PNL infiltrate
     #15: fibrosis of the papillary dermis
     #16: exocytosis
     #17: acanthosis
     #18: hyperkeratosis
     #19: parakeratosis
     #20: clubbing of the rete ridges
     #21: elongation of the rete ridges
     #22: thinning of the suprapapillary epidermis
     #23: spongiform pustule
     #24: munro microabcess
     #25: focal hypergranulosis
     #26: disappearance of the granular layer
     #27: vacuolisation and damage of basal layer
     #28: spongiosis
     #29: saw-tooth appearance of retes
     #30: follicular horn plug
     #31: perifollicular parakeratosis
     #32: inflammatory monoluclear inflitrate
     #33: band-like infiltrate
# Class Distribution:
       #Database:  Dermatology
       
      # Class code:   Class:                  Number of instances:
       #1             psoriasis			    112
       #2             seboreic dermatitis             61
       #3             lichen planus                   72
       #4             pityriasis rosea                49
       #5             cronic dermatitis               52    
       #6             pityriasis rubra pilaris        20

df1

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A26,A27,A28,A29,A30,A31,A32,A33,A34,Class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,2,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,2,0,25,4
354,3,2,1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,2,0,36,4
355,3,2,2,2,3,2,0,2,0,0,...,0,3,0,3,0,0,2,3,28,3
356,2,1,3,1,2,3,0,2,0,0,...,0,2,0,1,0,0,2,3,50,3
357,3,2,2,0,0,0,0,0,3,3,...,2,0,0,0,0,0,3,0,35,1

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df1[['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16','A17','A18','A19','A20','A21','A22','A23','A24','A25','A26','A27','A28','A29','A30','A31','A32','A33','A34']], df1['Class'], test_size=0.3)  # Training : 70%, Test: 30%

In [8]:
NB_model.fit(X_train , y_train)           # Training the model

y_predicted=NB_model.predict(X_test)    # Model predicting on test data

In [9]:
res2=(cross_val_score(NB_model,X_train,y_train,cv=10)) # prints scores of classifier for each run of the cross validation
print("** 10-fold cross validation using NB**")
for i in range(len(res2)):
    print('Accuracy in run ',(i+1)," :: " ,res2[i])
print("\n\nMean Accuracy==>\t",np.mean(res2))

** 10-fold cross validation using NB**
Accuracy in run  1  ::  0.8275862068965517
Accuracy in run  2  ::  0.8148148148148148
Accuracy in run  3  ::  0.8888888888888888
Accuracy in run  4  ::  0.8461538461538461
Accuracy in run  5  ::  0.88
Accuracy in run  6  ::  0.875
Accuracy in run  7  ::  0.9130434782608695
Accuracy in run  8  ::  0.9565217391304348
Accuracy in run  9  ::  0.8695652173913043
Accuracy in run  10  ::  0.9130434782608695


Mean Accuracy==>	 0.878461766979758